<%- include('partials/header.ejs') %>
        <!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Page Title</h1>
    <p class="lead">Put content here.</p>
    <p>Can put content here as well.</p>
  </div>
</main>
        
<%- include('partials/footer.ejs') %>
    </body>
</html>